<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Music</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo">Music</div>
        <div class="menu-item">Home</div>
        <div class="menu-item">Search</div>
    </div>
    <div class="main">
        <h1>Dla Ciebie</h1>
        <div class="playlistGrid">
            <div class="card">
                <img src="img/img5.jpg" alt="">
                <div class="title">Top Hits</div>
                <div class="subtitle">Playlist</div>
            </div>
            <div class="card">
                <img src="img/img3.jpg" alt="">
                <div class="title">Chill Songs</div>
                <div class="subtitle">Playlist</div>
            </div>
            <div class="card">
                <img src="img/img2.jpg" alt="">
                <div class="title">Disney Piano</div>
                <div class="subtitle">Playlist</div>
            </div>
            <div class="card">
                <img src="img/img4.jpg" alt="">
                <div class="title">80's Hits</div>
                <div class="subtitle">Playlist</div>
            </div>
            <div class="card">
                <img src="img/img1.jpg" alt="">
                <div class="title">Polski Hip Hop</div>
                <div class="subtitle">Playlist</div>
            </div>
            <div class="card">
                <img src="img/img6.jpg" alt="">
                <div class="title">Rock</div>
                <div class="subtitle">Playlist</div>
            </div>            
        </div>
    </div>
</body>
</html>